<% use Plausible %>

<.settings_tiles>
  <.tile docs="google-search-console-integration">
    <:title>
      Integração com Google Search Console
    </:title>
    <:subtitle>
      <p>
        Você pode integrar com o Google Search Console para obter todas as suas principais estatísticas de resultados de busca, como as frases de palavras-chave pelas quais as pessoas encontram seu site.
      </p>
    </:subtitle>
    <%= if Keyword.get(Application.get_env(:plausible, :google), :client_id) do %>
      <%= if @site.google_auth do %>
        <.input
          name="account"
          label="Conta Google vinculada"
          value={@site.google_auth.email}
          disabled="disabled"
          width="w-1/2"
          mt?={false}
        />

        <.button_link
          theme="danger"
          href={Routes.site_path(@conn, :delete_google_auth, @site.domain)}
          method="delete"
        >
          Desvincular conta Google
        </.button_link>

        <%= case @search_console_domains do %>
          <% {:ok, domains} -> %>
            <%= if @site.google_auth.property && !(@site.google_auth.property in domains) do %>
              <.notice class="mt-4 mb-4">
                Sua conta Google não tem acesso à propriedade configurada atualmente, {@site.google_auth.property}. Selecione uma propriedade verificada na lista abaixo.
              </.notice>
            <% else %>
              <p class="text-sm mt-4">
                Selecione a propriedade do Google Search Console da qual deseja extrair dados de palavras-chave. Se não encontrar seu domínio,
                <.styled_link
                  href="https://plausible.io/docs/google-search-console-integration"
                  new_tab={true}
                >
                  configure e verifique
                </.styled_link>
                no Search Console primeiro.
              </p>
            <% end %>

            <.form
              :let={f}
              for={Plausible.Site.GoogleAuth.changeset(@site.google_auth)}
              class="max-w-xs"
              action={"/#{URI.encode_www_form(@site.domain)}/settings/google"}
            >
              <div class="mt-2 w-full">
                {live_render(@conn, PlausibleWeb.Live.PlainCombo,
                  session: %{
                    "options" => Enum.zip(domains, domains),
                    "prompt" => "(Escolher propriedade)",
                    "name" => f[:property].name,
                    "id" => f[:property].id,
                    "selected" => f[:property].value
                  }
                )}
              </div>

              <.button type="submit">Salvar</.button>
            </.form>
          <% {:error, error} -> %>
            <.notice title="Erro de integração" theme={:red} class="mt-8">
              <%= case error do %>
                <% "invalid_grant" -> %>
                  Erro de Grant inválido retornado pelo Google.
                  <.styled_link
                    new_tab={true}
                    href="https://plausible.io/docs/google-search-console-integration#i-get-the-invalid-grant-error"
                  >
                    Veja aqui como corrigir
                  </.styled_link>
                <% "google_auth_error" -> %>
                  Sua conta do Search Console não foi conectada com sucesso. Desvincule sua conta Google e tente vinculá-la novamente.
                <% _ -> %>
                  Algo deu errado, mas parece ser temporário. Se o problema persistir, tente reconectar sua conta Google.
              <% end %>
            </.notice>
        <% end %>
      <% else %>
        <PlausibleWeb.Components.Google.button
          id="search-console-connect"
          to={Plausible.Google.API.search_console_authorize_url(@site)}
        />
        <div class="mt-8 text-sm">
          Obs.: Você também precisa configurar seu site no
          <.styled_link href="https://search.google.com/search-console/about" new_tab={true}>
            Google Search Console
          </.styled_link>
          para que a integração funcione.
          <.styled_link
            href="https://plausible.io/docs/google-search-console-integration"
            new_tab={true}
          >
            Leia a documentação
          </.styled_link>
        </div>
      <% end %>
    <% else %>
      <div class="my-8 text-center text-lg">
        <svg
          class="block mx-auto mb-4 w-6 h-6 text-yellow-500"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
          >
          </path>
        </svg>
        <p>
          Um passo extra é necessário para configurar seu {Plausible.product_name()} para a integração com o Google Search Console.
          Encontre as instruções
          <.styled_link href="https://github.com/plausible/community-edition/wiki/google-integration">
            aqui
          </.styled_link>
        </p>
      </div>
    <% end %>
  </.tile>

  <.tile :if={ee?()} docs="looker-studio">
    <:title>
      Conector Google Looker Studio
    </:title>
    <:subtitle>
      <p>
        Você pode usar nosso conector do Looker Studio para criar relatórios personalizados com seus dados do Plausible.
      </p>
    </:subtitle>

    <div class="text-sm">
      O Conector Plausible Looker Studio adiciona recursos avançados de relatórios que ajudam a tornar o Plausible uma alternativa ainda melhor ao Google Analytics.
      <.styled_link href="https://plausible.io/docs/looker-studio" new_tab={true}>
        Leia a documentação
      </.styled_link>
    </div>
  </.tile>

  <.tile :if={@has_plugins_tokens? || @conn.query_params["new_token"]}>
    <:title>
      Tokens de plugins
    </:title>
    <:subtitle :if={@has_plugins_tokens?}>
      Controle o acesso dos plugins.
    </:subtitle>

    {live_render(@conn, PlausibleWeb.Live.Plugins.API.Settings,
      session: %{
        "site_id" => @site.id,
        "domain" => @site.domain,
        "new_token" => @conn.query_params["new_token"]
      }
    )}
  </.tile>
</.settings_tiles>
