<.focus_box>
  <:title>
    Bem-vindo ao Plausible!
  </:title>

  <p>
    <.styled_link href="https://plausible.io/">
      Plausible Analytics
    </.styled_link>
    é uma alternativa simples, open source, leve (&lt;&nbsp;1&nbsp;KB) e que respeita a privacidade ao Google Analytics. Somos completamente independentes e financiados exclusivamente por nossos 10.000+ assinantes pagantes. Saiba mais
    <.styled_link href="https://plausible.io/about">
      sobre nós.
    </.styled_link>
  </p>

  <:footer>
    <.focus_list>
      <:item>
        <.styled_link href={Routes.auth_path(@conn, :login)}>
          Entrar
        </.styled_link>
      </:item>
      <:item>
        <.styled_link href={Routes.auth_path(@conn, :register_form)}>
          Registrar
        </.styled_link>
      </:item>
      <:item>
        <.styled_link href="https://plausible.io/docs">
          Guias & Documentação
        </.styled_link>
      </:item>
      <:item>
        <.styled_link href="https://twitter.com/plausiblehq">
          Seguir no Twitter
        </.styled_link>
      </:item>
    </.focus_list>
  </:footer>
</.focus_box>
