<PlausibleWeb.Components.FlowProgress.render
  flow={@conn.params["flow"]}
  current_step="Ativar conta"
/>

<.focus_box>
  <:title>
    <%= if @has_email_code? do %>
      <%= if @has_any_memberships? do %>
        Verifique seu endereço de e-mail
      <% else %>
        Ative sua conta
      <% end %>
    <% else %>
      Ative sua conta
    <% end %>
  </:title>

  <:subtitle :if={@has_email_code?}>
    <p class="break-all">
      Insira o código de 4 dígitos que enviamos para <b>{@conn.assigns[:current_user].email}</b>
    </p>
  </:subtitle>

  <:subtitle :if={!@has_email_code?}>
    <p class="break-all">
      Um código de ativação de 4 dígitos será enviado para <b>{@conn.assigns[:current_user].email}</b>
    </p>
  </:subtitle>

  <div :if={@has_email_code?}>
    <.form :let={f} for={@conn} action={@form_submit_url}>
      <.input type="hidden" field={f[:team_identifier]} />
      <.input
        field={f[:code]}
        class="tracking-widest font-medium shadow-xs focus:ring-indigo-500 focus:border-indigo-500 block w-36 px-8 border-gray-300 dark:border-gray-500 rounded-md dark:text-gray-200 dark:bg-gray-900 text-center"
        oninput="this.value=this.value.replace(/[^0-9]/g, ''); if (this.value.length >= 4) document.getElementById('submit').focus()"
        onclick="this.select();"
        maxlength="4"
        placeholder="••••"
        style="letter-spacing: 10px;"
        required={true}
      />
      <.button id="submit" type="submit" class="w-full mt-8">
        Ativar
      </.button>
    </.form>
  </div>

  <.error>{@error}</.error>

  <div :if={!@has_email_code?}>
    <.button_link method="post" class="w-full" href="/activate/request-code">
      Solicitar código de ativação
    </.button_link>
  </div>

  <:footer :if={@has_email_code?}>
    <b>Não recebeu o e-mail?</b>

    <.focus_list>
      <:item>
        Verifique sua pasta de spam
      </:item>
      <:item>
        <.styled_link href="/activate/request-code" method="post">
          Enviar um novo código
        </.styled_link>
        para {@conn.assigns[:current_user].email}
      </:item>
      <:item :if={ee?()}>
        <.styled_link href="https://plausible.io/contact" new_tab={true}>
          Fale conosco
        </.styled_link>
        se o problema persistir
      </:item>
      <:item :if={ce?()}>
        Pergunte no nosso
        <.styled_link href="https://github.com/plausible/analytics/discussions" new_tab={true}>
          fórum com suporte da comunidade
        </.styled_link>
      </:item>
    </.focus_list>

    <b>Digitou o endereço de e-mail errado?</b>

    <.focus_list>
      <:item :if={@has_any_memberships?}>
        <.styled_link method="post" href={Routes.settings_path(@conn, :cancel_update_email)}>
          Voltar para o e-mail
        </.styled_link>
        {@conn.assigns[:current_user].previous_email}
      </:item>

      <:item :if={not @has_any_memberships?}>
        <.styled_link
          method="delete"
          href="/me?redirect=/register"
          data-confim="A exclusão da sua conta não pode ser revertida. Tem certeza?"
        >
          Excluir esta conta
        </.styled_link>
        e começar novamente
      </:item>
    </.focus_list>
  </:footer>
</.focus_box>
